@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}
body {
  background-image: linear-gradient(#02b6b6, #083030, red);
}
::-webkit-scrollbar {
  display: none;
}
.init {
    display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  color: aliceblue;
}
.div2 {
  grid-area: 1 / 3 / 2 / 9;
}
.div3 {
  grid-area: 2 / 1 / 6 / 9;
}
.div4 {
  grid-area: 6 / 1 / 9 / 9;
}

.image-logo {
  text-align: center;
  height: 90px;
  background: none;
  margin-top: 50px;
  margin-left: 50px;
}
.div2 {
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
    align-items: center;
    font-size: 25px;
}
.div2 a {
  text-decoration: none;
  color: black;
}
.carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.elemento{
  flex: 1 0 auto;
  margin: 0 20px;
  width: 550px;
  height: 350px;
}
.image-carrusel{
  width: 550px;
  height: 350px;
  transition: 0.5s;
  object-fit:cover;
}
.image-carrusel:hover{
  transform: scale(1.2);
}
.div4{
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 25px;
}
/* 4 videos dos para la izquierda y dos para la derecha*/
.video-fifa {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: flex-start;
    margin-top:25px;
    border-color: #aaaaaa;
    border-width: 1,5px;
    border-style:dashed;
}
.text-tittle-fifa{
    padding:25px;
  }

.video-fifa iframe{
  width: 1900px;
  margin-left: 25px;
  padding:30px;
}
.video-streetfighter{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: flex-start;
    margin-top:25px;
    flex-direction: row-reverse;
    border-color: #aaaaaa;
    border-width: 1,5px;
    border-style:dashed;

}
.text-tittle-street{
    padding:25px;
}
.video-streetfighter iframe{
    width: 1900px;
    margin-left: 25px;
    padding:30px;
}
